@charset "utf-8";
/* CSS Document */

.stil1 {
font-size: 14px;
color: #FF0000;
background-color: #CCCCCC;
margin-left: 50px;
font-style: italic;
letter-spacing: 10px;
text-decoration: underline;
word-spacing: 30px;
padding-top: 50px;
margin-top: 50px;
}